Deployment prototype for MLPRegressor model

In [1]:
import joblib
import pandas as pd
import matplotlib.pyplot as plt
import json
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from feature_engine.wrappers import SklearnTransformerWrapper
from sklearn.neural_network import MLPRegressor
%matplotlib inline

In [2]:
# Display feature stats to orient the user
# Load model
# Ask user to input feature values
# Generate model prediction

model = joblib.load("../model_files/deployment_model_rf")
df = pd.read_csv("../data/dataset_minimal_features_for_modeling.csv")

# Display feature description and stats

In [3]:
feature_descriptions = pd.read_csv("../data/meta_descriptions_of_top_features.csv")
feature_descriptions

,Feature Name,Description
0,School_Type_1.0,school is a regular school
1,School_Type_4.0,other/alternative school
2,Enrollment Teacher_Ratio2,enrollment x teacher ratio 2
3,Highest_Grade_Offered Rla_Pct_Part,highest grade offered x reading participation
4,Rla_Pct_Part,percent who took state reading test
5,Rla_Pct_Part^2,reading participation squared
6,Reduced_Price_Lunch Teacher_Ratio2,# kids with reduced price lunch x teacher rat...
7,Teacher_Ratio2,# teachers / number of students who could hav...
8,Math_Pct_Part Rla_Pct_Part,math participation x reading participation
9,Teacher_Ratio1,# teachers / total enrollment in the school
10,Free_Lunch,number of students receiving a free lunch
11,Civilian_Labor_Force,labor force in the school's county
12,All_Cohort,number of students who could have graduated
13,Enrollment,total enrollment in school
14,Free_Or_Reduced_Price_Lunch,kids receiving either free or reduced
15,Teachers_Fte,number of teachers
16,Reduced_Price_Lunch,kids receiving reduced price lunch
17,Math_Pct_Part,percent who took state math test
18,Unemployment_Rate,unemployment rate in school's county
19,Title_I_Status_5.0,school eligible for Title I and provides it
20,Charter_0.0,school is NOT a charter school
21,Urban_Centric_Locale_11.0,school is in a large City
22,Num_Grades,number of grades offered at school
23,Lowest_Grade_Offered,lowest grade offered at the school
24,Virtual_1.0,school is virtual
25,Metro_Or_Not_0.0,school is NOT in a metro area
26,Rural_Urban_Continuum_Code_1.0,metro in county of 1 million or more people
27,Title_I_Eligible_1.0,eligible for state Title I program
28,Title_I_Status_6.0,school is not eligible for title I or targete...
29,Urban_Influence_Code_1.0,large in metro area with 1 million or more
30,School_Level_4.0,"school level designation ""other"""
31,Urban_Centric_Locale_12.0,city midsize
32,School_Level_3.0,"school level designation ""high"""
33,Virtual_0.0,not a virtual school
34,School_Type_3.0,school is a vocational school

In [4]:
feature_stats = pd.DataFrame(columns=["feat", "min","max","mean", "median"])

for feat in model.feature_names_in_:
    min_of_feat = df[feat].min()
    max_of_feat = df[feat].max()
    mean_of_feat = df[feat].mean()
    median_of_feat = df[feat].median()
    feature_stats.loc[len(feature_stats.index)] = (feat, min_of_feat, max_of_feat, mean_of_feat, median_of_feat)

pd.set_option('display.float_format', '{:,.2f}'.format)
pd.set_option('display.max_columns', 200)
feature_stats

,feat,min,max,mean,median
0,School_Type_1.0,0.00,1.00,0.89,1.00
1,School_Type_4.0,0.00,1.00,0.09,0.00
2,Enrollment Teacher_Ratio2,0.08,"27,487.70",242.83,181.59
3,Highest_Grade_Offered Rla_Pct_Part,30.00,"1,293.50","1,119.64","1,170.00"
4,Rla_Pct_Part^2,6.25,"9,900.25","8,792.40","9,506.25"
5,Rla_Pct_Part,2.50,99.50,93.26,97.50
6,Reduced_Price_Lunch Teacher_Ratio2,0.00,"1,982.94",15.72,10.23
7,Teacher_Ratio2,0.00,14.91,0.34,0.27
8,Math_Pct_Part Rla_Pct_Part,6.25,"9,900.25","8,768.93","9,506.00"
9,Teacher_Ratio1,0.00,1.77,0.07,0.06
10,Free_Lunch,0.00,"9,343.00",348.44,200.00
11,Civilian_Labor_Force,320.00,"5,121,279.00","459,084.94","106,072.00"
12,All_Cohort,6.00,"2,651.00",199.60,126.00
13,Enrollment,1.00,"14,319.00",852.38,562.00
14,Free_Or_Reduced_Price_Lunch,0.00,"9,626.00",403.26,240.00
15,Teachers_Fte,1.00,607.61,49.80,37.00
16,Reduced_Price_Lunch,0.00,"2,641.00",54.82,32.00
17,Math_Pct_Part,2.50,99.50,93.10,97.50
18,Unemployment_Rate,1.50,27.70,5.92,5.40
19,Title_I_Status_5.0,0.00,1.00,0.30,0.00
20,Charter_0.0,0.00,1.00,0.91,1.00
21,Lowest_Grade_Offered,0.00,12.00,8.11,9.00
22,Urban_Centric_Locale_11.0,0.00,1.00,0.14,0.00
23,Num_Grades,0.00,13.00,3.90,3.00
24,Virtual_1.0,0.00,1.00,0.01,0.00
25,Metro_Or_Not_0.0,0.00,1.00,0.28,0.00
26,Rural_Urban_Continuum_Code_1.0,0.00,1.00,0.42,0.00
27,Urban_Influence_Code_1.0,0.00,1.00,0.42,0.00
28,Title_I_Eligible_1.0,0.00,1.00,0.67,1.00
29,Title_I_Status_6.0,0.00,1.00,0.33,0.00
30,School_Level_4.0,0.00,1.00,0.10,0.00
31,Urban_Centric_Locale_12.0,0.00,1.00,0.05,0.00
32,School_Level_3.0,0.00,1.00,0.90,1.00
33,Virtual_0.0,0.00,1.00,0.91,1.00
34,School_Type_3.0,0.00,1.00,0.01,0.00

# Input features to generate prediction

In [5]:
data = {}

for feat in model.feature_names_in_:
    min_of_feat = df[feat].min()
    max_of_feat = df[feat].max()
    mean_of_feat = df[feat].mean()
    value = input("Enter {name} [mean={mean:.2f} min={min:.2f} max={max:.2f}]:".format(
        name=feat, mean=mean_of_feat, min=min_of_feat, max=max_of_feat))
    if float(value) < min_of_feat or float(value) > max_of_feat:
        print("Value outside trained range entered")
    data[feat] = value

In [6]:
model.predict(pd.DataFrame([data]))

array([85.02351305])